*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    color: white;
    background-color: rgb(109, 4, 4);
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tareas-listado{
    width:  600;
    min-height: 500px;
    background-color: rgb(39, 39, 39);
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;

}
 .titulo{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-family: roboto,sans-serif;
    text-align: center;
    margin: 20px 0;
 }